<!DOCTYPE html>
<head>
  <title>WeatherApp</title>
  <link rel="icon" href="/img/img1.jpg">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
