<%include partials/header %>
<link rel="stylesheet" href="/css/style.css">

<div class="headposition">
  <h1 class="title">Welcome To WeatherApp</h1><br>
  <h5 class="logo">Where Weather Comes To You</h5><br>
<a href="/entry">Search Data</a><br>
  
  <div class="jumbotron">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Obcaecati illum voluptas quisquam, est alias voluptatibus maxime, expedita.
      Quia, accusantium sequi! Pariatur, delectus. Magni, similique. Deserunt?
    </p>
  </div>
</div>

<% include partials/footer %>

