<%include partials/header %>
<link rel="stylesheet" href="/css/style.css">

<div class="headposition">
  <h1 class="title">Welcome To WeatherApp</h1><br>
  <h5 class="logo">Where Weather Comes To You</h5><br>
<a href="/entry">Search Data</a><br>
  
  <div class="jumbotron">
    <p>A simple WeatherApp using Node.js!.<br>With the deployment of global server Heroku and use of Geocode and Mapbox API's, the app renders simple daily weather data. </p>
  </div>
</div>

<% include partials/footer %>

