body {
  background: url('/img/img3.jpg') no-repeat center center fixed; 
  font-family: arial;
  margin: 20px 30%;
  padding: 0 16px;
  max-width: 650px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.jumbotron {
  background-color:rgb(199, 196, 191);
  opacity: 0.8;
}

.data {
  flex-grow: 1;
  position: relative;
}

.title {
  color: rgba(143, 137, 137, 0.808)
}
.logo {
  padding: 0 auto;
  margin: 0 15%;
  color: rgb(164, 168, 164);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.data {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  color: rgb(194, 199, 194);
  font-size: 21px;
}
.data p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 23px;
}
.data a {
  color: #c28b39;
  text-decoration: none;
}

.headposition {
  flex-grow: 1;
}
.headposition a {
  color: #c28b39;
  margin-right: 16px;
  text-decoration: none;
  margin: 0 auto;
  padding: 0 30%;
}

.footer {
  border-top: 1px solid rgb(236, 241, 241);
  margin-top: 10px;
  padding: 15px 17%; 
}
.footer p {
  color: #e4e0da;
}